.WeatherData {
    margin-top: 50px;
    box-sizing: border-box;
}

h1 {
    color: #fff;
    text-align: center;
    margin-top: 50px;
}

.city, .favorite {
    color: #fff;
}

.city {
    font-size: 20px;
}

.favorite {
    margin-top: 30px;
    font-size: 20px;
}

.favoriteIcon {
    color: #FAD05B;
}

.favoriteButton {
    background: transparent;
    border: none;
    width: 30px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    /* margin-top: 3px; */
}
.favoriteButton:hover {
    outline: none;
}

.favorite span {
    margin-left: 5px;
    font-size: 15px;
}

.temperature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 10px; */
}

.icon img{
    width: 100px;
    height: 100px;
}

.temp {
    font-size: 64px;
    color: #fff;
    margin-top: -10px;
}

.tempBtn {
    transition: all 0.4s linear;
    cursor: pointer;
    background: transparent;
    border: 1px solid #fff;
    width: 28px;
    height: 30px;
    border-radius: 2px 0 0 2px;
    font-size: 16px;
    color: #fff;
}

.tempBtn:hover {
    background-color: #fff;
    opacity: 0.7;
    color: rgb(153, 70, 70);
    outline: none;
}

.celcius {
    background-color: #fff;
    opacity: 0.7;
    color: rgb(153, 70, 70);
    border: none;
}

.celcius:focus {
    outline: none;
}

.weather {
    font-size: 22px;
    margin-top: 20px;
    color: #fff;
}

.line {
    height: 1px;
    background-color: #fff;
    width: 100%;
    opacity: 30%;
    margin-top: 50px;
}

.tempDetails {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.minMax, .precipitation, .visibility, .humidity, .wind {
    display: flex;
    margin-right: 80px;
}

.visibility {
    margin-right: 0;
}

.minMaxIcon, .precipitationIcon, .visibilityIcon, .humidityIcon, .windIcon {
   font-size: 30px;
   color: #fff;
}

.minMaxText, .precipitationText, .visibilityText, .humidityText, .windText {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    color: #fff;
    margin-left: 10px;
}

.minMaxText span, .precipitation span, .visibility span, .humidity span, .wind span {
    font-size: 22px;
}