.navContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.SearchItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

.serchField {
    position: relative;
}

.searchIcon {
    position: absolute;
    top: 40px;
    right: 180px;
    background: transparent;
    border: none;
    font-size: 20px;
    color: #fff;
}

.logo {
    width: 150px;
    height: 30px;
}

.searchCity {
    box-sizing: border-box;
    Height: 45px;
    Width: 458px;
    background-color: rgba(255, 255, 255, 0.2);
    /* opacity: 30%; */
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 3px;
    padding: 5px;
    font-size: 16px;
    color: #fff;
    margin-top: 10px;
}

input:focus {
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.4);
}

::placeholder { 
    color: rgba(255, 255, 255, 0.5);
}