h2 {
    color: #fff;
    margin: auto;
    text-align: center;
    margin-top: 50px;
}

.favourite {   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.favoriteCities {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}

.favoriteHeader {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    color: #fff;
}

.favTitle {
    font-size: 13px;
}

.modalText {
    font-size: 15px;
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.remove {
    font-size: 13px;
    width: 66px;
    height: 15px;
    color: #fff;
    cursor: pointer;
    border: none;
    background: transparent;
}
.remove:focus, .remove:hover {
    outline: none;
}
.favouriteItems {
    width: 100%;
    margin-top: 20px;
}

.noFavorite {
    margin-top: 120px;
}

.noFavoriteText {
    color: #fff;
    font-size: 18px;
    margin-top:  20px;
}