

.modalContent {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 70vw; */
}

.modalContent div {
    width: 450px;
    max-width: 100%;
    background-color: white;
    padding: 10px;
    position: relative;
    padding: 25px;
}

.buttons {
    /* margin-top: 50px; */
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.yes, .no {
    width: 70px;
    height: 35px;
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 15px;
}

.yes:hover, .no:hover {
    background: #F76B1C;
    color: #fff;
}

.yes:hover, .no:hover {
    outline: none;
}